extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/game.css')
  link(rel='stylesheet', href='/semantic/dist/semantic.min.css')

block content
  div(ng-controller="gameController")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
      .column.twelve.wide
        .ui.stacked.segment.gameArea(ng-click="onClickPlayer($event)")
          .circle(
            ng-repeat="player in players",
            ng-style="{ 'left': player.position.x + 'px', 'top': player.position.y + 'px' }",
            id='{{ player.id }}',
            class='{{ player.color }}'
          )
            .relative
              span.name {{ player.nickname }}
              //.message
          .food(
            ng-repeat='food in foods',
            ng-style="{ 'left': food.position.x + 'px', 'top': food.position.y + 'px' }",
            id='{{ food.id }}',
            class='{{ food.color }}'
          )
        #chat-area.ui.items.chat
          .item(ng-repeat='message in messages')
            .content(ng-if='!message.type.code')
              span [SERVER] &nbsp;
              a.header.name {{ message.nickname }} &nbsp;
              .description.message(ng-if='message.type.message')
                | JOINED!
              .description.message(ng-if='!message.type.message')
                | LEAVED!
            .content(ng-if='message.type.code')
              a.header.name {{ message.nickname }} &nbsp;
              .description.message
                | {{ message.text }}
        form.ui.action.input.fluid(ng-submit='newMessage()')
          input(ng-model='message', placeholder='Type here...')
          button.ui.button(type='submit') Send

append scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/controller/gameController.js')
